/** { margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}
*/

#container {
    margin: 1em auto;
    position: relative;
    width: 512;
    height: 384;
}

@media screen and (min-width:     0px) and (min-height:    0px) { #container { width:  512px; height: 384px; font-size:  7pt; } } /* block = 16 */
@media screen and (min-width:   840px) and (min-height:  530px) { #container { width:  640px; height: 480px; font-size:  9pt; } } /* block = 20 */
@media screen and (min-width:   968px) and (min-height:  626px) { #container { width:  768px; height: 576px; font-size: 11pt; } } /* block = 24 */
@media screen and (min-width:  1096px) and (min-height:  722px) { #container { width:  896px; height: 672px; font-size: 13pt; } } /* block = 28 */
@media screen and (min-width:  1224px) and (min-height:  818px) { #container { width: 1024px; height: 768px; font-size: 15pt; } } /* block = 32 */

canvas { 
    display: inline-block;
    background-color: white;
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    font-family: "Ubuntu Mono", monospace;
    color: white;
}

h1, h2 {
    color: red;
    display: inline-block;
}

h2 {
    font-size: 1.2em;
}

.scoretxt {
    color: white;
    font-size: 1.2em;
}

button {
    vertical-align: top;
    margin-top: 10px;
    font-family: monospace;
    background: #FFFFFF;
}

/* text div shows the CV data */

#text {
    background: white;
    position: absolute;
    left: 100px;
    top: 100px;
    color: black;
    max-height: 400px;
    width: 500px;
    display: none;
    overflow-y: auto;
}

.content {
    margin: 10px;
}

.heading {
    color: red;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.exit {
    font-size: 0.5em;
    color: black;
}

.entry {
    margin-bottom: 10px;
}

.name {
    color: grey;
}

.title {
    font-weight: bold;
}

.date {
    color: grey;
}

#intext {
    position: absolute;
    left: 50px;
    down: 100px;
    width: 230px;
    height: 350px;
    background: black;
    display: none;
    font-size: 0.8em;
}

#sbutton {
    width: 50px;
}

select {
    vertical-align: top;
    margin-top: 9px;
}

#loader {
    height: 100%;
    width: 100%;
    background-color: black;
}

img {
    display: block;
    margin: auto;
}

.load {
    display: none;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

#topbar {
    height: 10%;
    background-color: black;
    display: none;
}
/*
canvas {
	 background-color: black;
    display: none;
}
*/